$light-bg: #A2D1FD;
$dark-bg: #1F2533;
$offset: 5px;
$border-fit: 2px;
$float_proportion: -3;

$switch-large-width: 135px;
$switch-large-height: 50px;

$switch-medium-width: 95px;
$switch-medium-height: 40px;

$switch-small-width: 65px;
$switch-small-height: 30px;


.switch-large {
  position: relative;
  display: inline-block;
  width: $switch-large-width;
  height: $switch-large-height;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $light-bg;
    border-radius: 35px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    overflow: hidden;
  }

  .slider:before {
    position: absolute;
    z-index: 1;
    content: "";
    top: #{$offset};
    left: #{$offset};
    height: calc(#{$switch-large-height} - #{$offset} - #{$offset});
    width: calc(#{$switch-large-height} - #{$offset} - #{$offset});
    background: rgba(255, 193, 135, 0.96);
    box-shadow: -3px 3px 3px rgba(183, 183, 183, 0.35), 0px 0px 5px rgba(255, 193, 135, 0.6), inset 0px -1.8px 3px #FFA149, inset 0px 1.8px 3px #FFD0A5;
    border-radius: 50%;
    transition: 0.6s;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  }

  .left-cloud {
    left: -10%;
    bottom: -60%;
  }

  .right-cloud {
    right: -20%;
    bottom: -75%;
  }

  .left-cloud,
  .right-cloud {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
  }


  input:checked + .slider {
    background-color: $dark-bg;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.2);
    background-image: url('./assets/stars.svg');
    background-size: contain;
    background-position: left center;
  }

  input:checked + .slider:before {
    background-color: transparent;
    background-image: url('./assets/moon.svg');
    background-position: center center;
    background-size: calc(#{$switch-large-height} - #{$offset} - #{$offset} + #{$border-fit});
    background-repeat: no-repeat;
    transform: translateX(calc(#{$switch-large-width} - #{$offset} - #{$offset} - (#{$switch-large-height} - #{$offset} - #{$offset})));
    position: absolute;
    box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.7);
  }

  input:checked + .slider:after {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }

  input:focus + .slider {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  }
}

.switch-large input:checked ~ .slider .left-cloud {
  transform: translateY(calc($switch-large-height / $float_proportion)) translateX(-105%);
  transition: transform 0.6s ease-in-out;
}

.switch-large input:checked ~ .slider .right-cloud {
  transform: translateY(calc($switch-large-height / $float_proportion)) translateX(100%);
  transition: transform 0.6s ease-in-out;
}

.switch-large input:not(:checked) ~ .slider .left-cloud {
  transform: translateY(0) translateX(0);
  transition: transform 0.6s ease-in-out;
}

.switch-large input:not(:checked) ~ .slider .right-cloud {
  transform: translateY(0) translateX(0);
  transition: transform 0.6s ease-in-out;
}


//-------------------------------

.switch-medium {
  position: relative;
  display: inline-block;
  width: $switch-medium-width;
  height: $switch-medium-height;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $light-bg;
    border-radius: 35px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    overflow: hidden;

    img {
      width: 65%;
    }
  }

  .slider:before {
    position: absolute;
    z-index: 1;
    content: "";
    top: #{$offset};
    left: #{$offset};
    height: calc(#{$switch-medium-height} - #{$offset} - #{$offset});
    width: calc(#{$switch-medium-height} - #{$offset} - #{$offset});
    background: rgba(255, 193, 135, 0.96);
    box-shadow: -3px 3px 3px rgba(183, 183, 183, 0.35), 0px 0px 5px rgba(255, 193, 135, 0.6), inset 0px -1.8px 3px #FFA149, inset 0px 1.8px 3px #FFD0A5;
    border-radius: 50%;
    transition: 0.6s;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  }

  .left-cloud {
    left: 0;
    bottom: -30%;
  }

  .right-cloud {
    right: -15%;
    bottom: -45%;
  }

  .left-cloud,
  .right-cloud {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
  }


  input:checked + .slider {
    background-color: $dark-bg;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.2);
    background-image: url('./assets/stars.svg');
    background-size: contain;
    background-position: left center;
  }

  input:checked + .slider:before {
    background-color: transparent;
    background-image: url('./assets/moon.svg');
    background-position: center center;
    background-size: calc(#{$switch-medium-height} - #{$offset} - #{$offset} + #{$border-fit});
    background-repeat: no-repeat;
    transform: translateX(calc(#{$switch-medium-width} - #{$offset} - #{$offset} - (#{$switch-medium-height} - #{$offset} - #{$offset})));
    position: absolute;
    box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.7);
  }

  input:checked + .slider:after {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }

  input:focus + .slider {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  }
}

.switch-medium input:checked ~ .slider .left-cloud {
  transform: translateY(calc($switch-medium-height / $float_proportion)) translateX(-110%);
  transition: transform 0.6s ease-in-out;
}

.switch-medium input:checked ~ .slider .right-cloud {
  transform: translateY(calc($switch-medium-height / $float_proportion)) translateX(100%);
  transition: transform 0.6s ease-in-out;
}

.switch-medium input:not(:checked) ~ .slider .left-cloud {
  transform: translateY(0) translateX(0);
  transition: transform 0.6s ease-in-out;
}

.switch-medium input:not(:checked) ~ .slider .right-cloud {
  transform: translateY(0) translateX(0);
  transition: transform 0.6s ease-in-out;
}


//-------------------------------

.switch-small {
  position: relative;
  display: inline-block;
  width: $switch-small-width;
  height: $switch-small-height;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $light-bg;
    border-radius: 35px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    overflow: hidden;


    img {
      width: 60%;
    }
  }

  .slider:before {
    position: absolute;
    z-index: 1;
    content: "";
    top: #{$offset};
    left: #{$offset};
    height: calc(#{$switch-small-height} - #{$offset} - #{$offset});
    width: calc(#{$switch-small-height} - #{$offset} - #{$offset});
    background: rgba(255, 193, 135, 0.96);
    box-shadow: -3px 3px 3px rgba(183, 183, 183, 0.35), 0px 0px 5px rgba(255, 193, 135, 0.6), inset 0px -1.8px 3px #FFA149, inset 0px 1.8px 3px #FFD0A5;
    border-radius: 50%;
    transition: 0.6s;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  }

  .left-cloud {
    left: 5%;
    bottom: -25%;
  }

  .right-cloud {
    right: -15%;
    bottom: -35%;
  }

  .left-cloud,
  .right-cloud {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
  }


  input:checked + .slider {
    background-color: $dark-bg;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.2);
    background-image: url('./assets/stars.svg');
    background-size: contain;
    background-position: left center;
  }

  input:checked + .slider:before {
    background-color: transparent;
    background-image: url('./assets/moon.svg');
    background-position: center center;
    background-size: calc(#{$switch-small-height} - #{$offset} - #{$offset} + #{$border-fit});
    background-repeat: no-repeat;
    transform: translateX(calc(#{$switch-small-width} - #{$offset} - #{$offset} - (#{$switch-small-height} - #{$offset} - #{$offset})));
    position: absolute;
    box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.7);
  }

  input:checked + .slider:after {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }

  input:focus + .slider {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  }
}

.switch-small input:checked ~ .slider .left-cloud {
  transform: translateY(calc($switch-small-height / $float_proportion)) translateX(-115%);
  transition: transform 0.6s ease-in-out;
}

.switch-small input:checked ~ .slider .right-cloud {
  transform: translateY(calc($switch-small-height / $float_proportion)) translateX(100%);
  transition: transform 0.6s ease-in-out;
}

.switch-small input:not(:checked) ~ .slider .left-cloud {
  transform: translateY(0) translateX(0);
  transition: transform 0.6s ease-in-out;
}

.switch-small input:not(:checked) ~ .slider .right-cloud {
  transform: translateY(0) translateX(0);
  transition: transform 0.6s ease-in-out;
}

