$light-bg: #A2D1FD;
$dark-bg: #1F2533;
$offset: 5px;
$float_proportion: -4;
$border-thickness: 3px;

$switch-large-width: 141px;
$switch-large-height: 50px;

$switch-medium-width: 101px;
$switch-medium-height: 40px;

$switch-small-width: 71px;
$switch-small-height: 30px;

@mixin switch-base($width, $height, $cloudSize, $lCloudTrans) {
  position: relative;
  display: inline-block;
  width: $width;
  height: $height;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    height: $height;
    width: $width;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $light-bg;
    border-radius: 35px;
    border: $border-thickness solid transparent;
    box-shadow: inset 2px 2px 8px rgba(0, 0, 0, 0.7),
    inset -2px -2px 6px rgba(255, 255, 255, 0.4);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    filter: none;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    img {
      width: $cloudSize;
      pointer-events: none;
    }
  }

  .slider:before {
    position: absolute;
    z-index: 1;
    content: "";
    top: $offset;
    left: $offset;
    height: calc(#{$height} - #{$offset} * 2 - #{$border-thickness} * 2);
    width: calc(#{$height} - #{$offset} * 2 - #{$border-thickness} * 2);
    background: rgba(255, 193, 135, 0.96);
    box-shadow: -3px 3px 3px rgba(183, 183, 183, 0.35),
    0px 0px 5px rgba(255, 193, 135, 0.6),
    inset 0px -1.8px 3px #FFA149,
    inset 0px 1.8px 3px #FFD0A5,
    0px 0px 12px rgba(255, 193, 135, 0.5);
    border-radius: 50%;
    transition: 0.6s;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  }

  .left-cloud,
  .right-cloud {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
  }

  input:checked + .slider {
    background-color: $dark-bg;
    border: $border-thickness solid #444;
    box-shadow: inset 2px 2px 8px rgba(0, 0, 0, 0.7),
    inset -2px -2px 6px rgba(255, 255, 255, 0.4);

    background-image: url('./assets/stars.svg');
    background-size: contain;
    background-position: left center;
  }

  input:checked + .slider:before {
    background-color: transparent;
    background-image: url('./assets/moon.svg');
    background-position: center center;
    background-size: calc(#{$height} - #{$offset} * 2 - #{$border-thickness});
    background-repeat: no-repeat;
    transform: translateX(calc(#{$width} - #{$offset} * 2 - (#{$height} - #{$offset} * 2)));
    box-shadow: inset 2px 2px 8px rgba(0, 0, 0, 0.8); // Stronger inner shadow for knob in checked state
  }

  input:checked + .slider:after {
    box-shadow: none;
  }

  input:focus + .slider {
    box-shadow: inset 2px 2px 8px rgba(0, 0, 0, 0.7); // Enhanced inner shadow when focused
  }

  input:checked ~ .slider .left-cloud {
    transform: translateY(calc(#{$height} / #{$float_proportion})) translateX($lCloudTrans);
    transition: transform 0.6s ease-in-out;
  }

  input:checked ~ .slider .right-cloud {
    transform: translateY(calc(#{$height} / #{$float_proportion})) translateX(100%);
    transition: transform 0.6s ease-in-out;
  }

  input:not(:checked) ~ .slider .left-cloud,
  input:not(:checked) ~ .slider .right-cloud {
    transform: translateY(0) translateX(0);
    transition: transform 0.6s ease-in-out;
  }
}

//---------------------------------
.switch-large {
  @include switch-base($switch-large-width, $switch-large-height, 80%, -105%);

  .left-cloud {
    left: -10%;
    bottom: -60%;
  }

  .right-cloud {
    right: -20%;
    bottom: -75%;
  }
}

//-------------------------------
.switch-medium {
  @include switch-base($switch-medium-width, $switch-medium-height, 65%, -110%);

  .left-cloud {
    left: 0;
    bottom: -30%;
  }

  .right-cloud {
    right: -15%;
    bottom: -45%;
  }
}

//-------------------------------
.switch-small {
  @include switch-base($switch-small-width, $switch-small-height, 60%, -115%);

  .left-cloud {
    left: 5%;
    bottom: -25%;
  }

  .right-cloud {
    right: -15%;
    bottom: -35%;
  }
}
